* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 63, 77);
    color: white;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: rgb(168, 109, 2);
}